.adminPage-admin-work-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adminPage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
