// Admin dragable
.adminCard-drag-container {
    min-height: 100px;
    margin: 0 auto;
    padding: 0 0.5rem;
    &:hover {
        background-color: rgba(0,0,0, 0.1);
    }
}

.current-drag {
    min-height: 100px;
    margin: 0 auto;
}

.checkbox-area{
    padding: 3rem 1.5rem;
    cursor: pointer;
}
.checkbox{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.admin-product-image{
    width: 90px;
    height: 90px;
}

.text{
    margin: 0 $s-size;
    padding: 0;
}

.current-drag {
    background-color: #b3b3b3;
    opacity: 0.7;
    height: 90px;
}

.adminCard-drag-container{
    height: 90px;
}