.checkbox-select-btn {
    border: $button-border;
    margin: $xs-size;
    padding: $xs-size;
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.delete-btn{
    border: $button-border;
    background-color: $delete-btn;
    color: #fff;
    padding: $xs-size;
}

.top-arrow {
    position: sticky;
    font-size: $l-size;
    left: 96%;
    bottom: 70px;
    color: #000;
}
@media (max-width: 800px){
    .top-arrow {
        display: none;
    }
}