.product-container {
    margin: $s-size;

    .product-image {
        border-radius: 8px;
        cursor: pointer;
        width: 193;
        height: 289px;
        margin: $xs-size;
    }

    .product-image:hover {
        opacity: 0.7;
    }
}

.adminCard-drag-container{
    width: 70%;
    height: 100%;
    margin: $s-size auto;
    padding: $s-size;
}
.current-drag{
    width: 70%;
    height: 100%;
    margin: $s-size auto;
    padding: $s-size;
}

.admin-card {
    border-bottom: 1px solid #8a8a8a;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.3fr 1fr 0.3fr;
    max-width: 65%;
    height: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

    .text {
        font-size: $m-size;
        padding: $m-size;
    }

    .admin-product-image{
        width: 70px;
        height: 70px;
    }
}

.current-drag {
    background-color: #b3b3b3;
    opacity: 0.7;
    height: 90px;

}

.adminCard-drag-container{
    height: 90px;
}