.card-container {
    width: 290px;

    .card-image {
        border-radius: 8px;
        width: 100%;
        max-height: 100%;
        cursor: pointer;
    }

    .card-image:hover {
        opacity: 0.7;
    }
}

.span1 {
    grid-row-end: span 1;
}
.span2 {
    grid-row-end: span 2;
}
.span3 {
    grid-row-end: span 3;
}
.span4 {
    grid-row-end: span 4;
}
.span5 {
    grid-row-end: span 5;
}
.span6 {
    grid-row-end: span 6;
}
.span7 {
    grid-row-end: span 7;
}
.span8 {
    grid-row-end: span 8;
}
.span9 {
    grid-row-end: span 9;
}
.span10 {
    grid-row-end: span 10;
}
.span11 {
    grid-row-end: span 11;
}
.span12 {
    grid-row-end: span 12;
}
.span13 {
    grid-row-end: span 13;
}


.adminCard-drag-container{
    width: 70%;
    min-height: 100px;
    margin: 0 auto;
}
.current-drag{
    width: 70%;
    min-height: 100px;
    margin: 0 auto;
}

.admin-card {
    border-bottom: 1px solid #8a8a8a;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.3fr 1fr 0.3fr;
    grid-template-rows: 180px;
    max-width: 65%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

    .text {
        font-size: $m-size;
        padding: $m-size;
    }

    .admin-product-image{
        width: 70px;
        height: 70px;
    }
    
    .delete-btn{
        border: $button-border;
        background-color: $delete-btn;
        color: #fff;
    }
}

.current-drag {
    background-color: #b3b3b3;
    opacity: 0.7;
    height: 90px;
}

.adminCard-drag-container{
    height: 90px;
}