.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $m-size;
    padding: $s-size $xl-size;

    .navigation-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .anchor {
        color: black;
        text-decoration: none;
        padding: $s-size;
        margin: $m-size;
    }
}

@media(max-width: 720px){
    .header-container {
        display: block;
        margin: 0 auto;
        h1{
            text-align: center;
        }
        .anchor{
            float: right;
            padding: $s-size;
            margin: 0;
        }
    }
}

.is-active{
    font-weight: bold;
    border-bottom: 2px solid #000;

}

.cards-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, max(290px));
    grid-auto-rows: 1px;
    margin: $xl-size 14rem;
    justify-content: center;
}

@media(max-width: 900px){
    .cards-container {
        margin: $xl-size 0;
    }
    .top-arrow{
        left: 93%;
    }
}

.footer-container{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
    text-align: center;
    padding: $s-size;
    
    p {
        font-size: $s-size;
    }

    .media-icon{
        color: #000;
        font-size: $l-size;
        padding: 0 $s-size;
    }

    .media-icon:hover{
        opacity: 0.6;
    }
}

@media(max-width: 400px){
    .link-container {
        a {
            display: block;
        }
    }
}

.icon {
    padding: 0 $xs-size;
}

.top-arrow {
    position: sticky;
    font-size: $l-size;
    left: 96%;
    bottom: 70px;
    color: #000;
}