// colors
// $background: #ede6da;
$background: #f3efe7;
$delete-btn: #ff3333;
$primary: #007bff;
$danger: #dc3545;

// border 
$button-border: 1px solid rgba(0, 0, 0, 0.2);

// sizes
$xs-size: 0.7rem;
$s-size: 1.2rem;
$m-size: 2.0rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$mobile-breakpoint: 45rem;
