// colors
// $background: #ede6da;
$background: #f3efe7;
$delete-btn: #ff3333;

// border 
$button-border: 1px solid#3e4247;

// sizes
$xs-size: 0.7rem;
$s-size: 1.2rem;
$m-size: 2.0rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$mobile-breakpoint: 45rem;
